<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtsuMoriFatCook.Properties.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AtsuMoriFatCook.Properties.Setting>
            <setting name="オーガニックパン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="かしパン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのスープ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのニョッキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのベーグルサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="キャロットラペ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="グラタン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="こくとう" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ココナッツオイル" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="サラダ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ジャガイモのカレー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ジャガイモのガレット" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ジャガイモのニョッキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ジャガイモのポタージュ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="じゃがバター" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="そうざいパン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="チェリージャム" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ちぎりパン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="トマトカレー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="トマトソースパスタ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="トマトのアヒージョ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="トマトのベーグルサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナシのジャム" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナポリタンスパゲッティ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ニンジンのニョッキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ニンジンのはっぱカレー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ニンジンのベーグルサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ニンジンのポタージュ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パングラタン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パンプキンカレー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パンプキンパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ピーチジャム" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フィッシュアンドチップス" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フライドポテト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツサラダ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツのベーグルサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツピザ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ベジタブルクレープ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ベジタブルサンド" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="マーマレード" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="マルゲリータ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="まるごとトマトのサラダ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ミネストローネ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="やさいのキッシュ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="やさいのピクルス" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="リンゴジャム" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="アイシングクッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="アイシングプレッツェル" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="アップルゼリー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="アップルパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="オレンジスムージー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="オレンジゼリー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="オレンジタルト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="オレンジパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="オレンジパウンドケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのカップケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのスコーン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="カボチャのパウンドケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="キャロットケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="キャロットジュース" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="キャロットスコーン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="クッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ケークサレ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="こくとうカップケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="こくとうパウンドケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ココナッツクッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ココナッツのパンケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ココナッツプリン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ココナッツミルク" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="さくらんぼスムージー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="さくらんぼゼリー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ジャムクッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="シュガークレープ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="スコーン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="チェリータルト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="チェリーパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="トマトジュース" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナシスムージー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナシのゼリー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナシのタルト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ナシのパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パウンドケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ハトのすサブレ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ハロウィンなクッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="パンケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ピーチゼリー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ピーチタルト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ピーチパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツカップケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツクレープ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツタルト" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツのスコーン" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツのパンケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="フルーツのパイ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="プレーンカップケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="プレッツェル" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="モモスムージー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="やさいクッキー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="やさいのカップケーキ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="リンゴスムージー" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="リンゴのタルト" serializeAs="String">
                <value>0</value>
            </setting>
        </AtsuMoriFatCook.Properties.Setting>
    </userSettings>
</configuration>